.rosharLink {
  position: absolute;
  top: 86dvh;
  left: 15dvw;
  cursor: pointer;

  &__image {
    width: 80px;
    height: auto;
    filter: invert(1) drop-shadow(0 0 8px #c5ba799d);
    transition: all 0.4s ease-in-out;
  }

  &__title {
    font-size: 1.5rem;
    color: #e6e6e6;
    text-shadow: 0 0 10px #c5ba799d;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    .rosharLink__image {
      filter: invert(1) drop-shadow(0 0 20px #ffef94);
    }
  }
}
