.places {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #111111bd;

  h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding: 10rem 0 5rem;
    text-transform: uppercase;
  }

  &__item {
    height: 80vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 2s;
    }

    &__info {
      position: absolute;
      top: 88%;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background: #1111118c;
      padding: 2rem 3rem;
      transition: all 1s;

      h3 {
        text-transform: uppercase;
      }

      p {
        margin-top: 32px;
      }
    }

    &:hover {
      .places__item__info {
        top: 0;
      }

      .places__item__img {
        transform: scale(1.2);
      }
    }
  }
}
