.selLink {
  position: absolute;
  top: 84dvh;
  left: 59dvw;
  cursor: pointer;

  &__image {
    width: 70px;
    height: auto;
    filter: invert(1) drop-shadow(0 0 12px #a8e6e6);
    transition: all 0.4s ease-in-out;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0 0 5px #a8e6e6;
  }

  &:hover {
    .selLink__image {
      filter: invert(1) drop-shadow(0 0 18px #c4ffff);
    }
  }
}
