.community {
    background: url(/assets/images/paper.jpg);
    padding: 5rem;
    box-shadow: inset 0 0 5rem #111;
    overflow: hidden;

    h2 {
        text-transform: uppercase;
        z-index: 3;
        margin-bottom: 2rem;
    }

    &__content {
        gap: 12px;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 320px;
            z-index: 2;
            opacity: .3;
        }

        p {
            z-index: 3;
        }
    }
}