.mapLink {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 4vh;
    right: 4vw;
    z-index: 20;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 12px #111;

    img {
        width: 180%;
        height: 100%;
        object-fit: conver;
    }
}