.hero {
  width: 100vw;
  height: 90vh;
  background: url(/assets/images/cities/nalthis.jpg);
  background-position: top;
  background-size: cover;
  position: relative;

  &__info {
    position: absolute;
    bottom: 10%;
    left: 10%;

    h1 {
      font-size: 2.4rem;
      text-shadow: 0 0 8px #111;
      margin-bottom: -12px;
    }
  }
}
