.cosmereMap {
    background: url('/assets/images/maps/cosmere.webp') no-repeat center center;
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    box-shadow: inset 0 0 10px #c5ba799d;
}