.scadrialLink {
  position: absolute;
  top: 7dvh;
  left: 6dvw;
  cursor: pointer;

  &__image {
    width: 70px;
    height: auto;
    filter: invert(1) drop-shadow(0 0 12px #d30202);
    transition: all 0.4s ease-in-out;
  }

  &__title {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0 0 5px #d30202;
  }

  &:hover {
    .scadrialLink__image {
      filter: invert(1) drop-shadow(0 0 30px #ff0101);
    }
  }
}
