.authorContainer {
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    margin: auto;
    padding: 22vh 10vw 0;
    background: #1d1d1da4;

    &__image {
        width: 100%;
        height: 68vh;
        margin-right: 5%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    &__info {
        align-items: flex-start;
    }
}