.nalthisLink {
  position: absolute;
  top: 31dvh;
  left: 2.5dvw;
  cursor: pointer;

  &__image {
    width: 70px;
    height: auto;

    filter: drop-shadow(0 0 1px red) drop-shadow(0 0 3px orange)
      drop-shadow(0 0 5px yellow) drop-shadow(0 0 7px green)
      drop-shadow(0 0 10px blue) drop-shadow(0 0 13px violet);

    transition: all 0.4s ease-in-out;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0 0 3px red, 0 0 6px orange, 0 0 9px yellow, 0 0 12px green,
      0 0 15px blue, 0 0 18px violet;
    z-index: 2;
  }

  &:hover {
    .nalthisLink__image {
      filter: drop-shadow(0 0 2px red) drop-shadow(0 0 4px orange)
        drop-shadow(0 0 6px yellow) drop-shadow(0 0 8px green)
        drop-shadow(0 0 11px blue) drop-shadow(0 0 15px violet);
    }
  }
}
