footer {
  z-index: 10;
  background: linear-gradient(
    to top,
    rgba(29, 29, 29, 0.65) 80%,
    rgba(29, 29, 29, 0) 100%
  );
  padding: 160px 5vw 40px;
  text-align: center;
  justify-content: space-between;

  .website {
    gap: 20px;

    h4 {
      text-transform: uppercase;
    }

    p {
      margin-top: -10px;
      width: 80%;
    }

    img {
      width: 60px;
      filter: invert(1);
    }
  }

  .footer__links {
    text-transform: capitalize;

    .footer__links__list {
      align-items: flex-start;
    }
  }

  .footer__image {
    width: 120px;

    img {
      width: 100%;
    }
  }
}
