@font-face {
  font-family: satoshi;
  src: url(/assets/fonts/Satoshi-Variable.woff2) format("woff2-variations");
}
@font-face {
  font-family: old;
  src: url(/assets/fonts/Candlescript.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #e9e9e9;
  font-family: satoshi;
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

li {
  list-style: none;
}

span {
  color: #e2a45c;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: #e2a45c;
  }
}

.heroesEra2 {
  margin: 20vh auto;
  padding: 2rem 2rem 2rem 0rem;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
  border-radius: 8px;
  background: #11111131;
  box-shadow: inset 0 0 8px #111;

  &__image {
    min-width: 30%;
    height: 100%;
    position: relative;

    &__heroe {
      width: 100%;
      filter: drop-shadow(0 0 4px #111);

      &.ladrian {
        width: auto;
        height: 480px;
        transform: translateY(40px);
      }

      &.wayne {
        width: auto;
        height: 420px;
      }

      &.marasi {
        width: auto;
        height: 380px;
        transform: translateX(-15px) translateY(90px);
      }

      &.steris {
        width: auto;
        height: 450px;
        transform: translateX(-15px) translateY(50px);
      }

      &.meelan {
        transform: translateY(50px);
      }
    }

    &__border {
      position: absolute;
      height: 100%;
      width: auto !important;
      right: -1vw;
      top: 3%;
    }
  }

  &__info {
    width: 66%;
    overflow-y: scroll;
    padding: 2rem 2rem 2rem 4rem;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 100%;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #b39a0f;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #b28f39;
    }

    h2 {
      text-transform: uppercase;
      color: #d4b60b;
      text-shadow: 0 0 2px #111;
      font-size: 1.3rem;
    }

    p {
      text-shadow: 0 0 4px #111;
    }
  }
}