@font-face {
    font-family: satoshi;
    src: url(/assets/fonts/Satoshi-Variable.woff2) format("woff2-variations");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #e9e9e9;
    font-family: satoshi;
    overflow-x: hidden;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

li {
    list-style: none;
}

span {
    color: #e2a45c;
}